<div class="row align-items-start mb-30px md-mb-15px">
    <div class="col-lg-12 pe-50px md-pe-15px md-mb-50px xs-mb-35px">
        <span class="fs-26 alt-font fw-600 text-dark-gray mb-20px d-block">Billing details</span>
        <form class="">
            <div class="row">
                <div class="col-md-6 mb-20px">
                    <label class="mb-10px">First name <span class="text-red">*</span></label>
                    <input class="border-radius-4px input-small" type="text" aria-label="text" required>
                </div>
                <div class="col-md-6 mb-20px">
                    <label class="mb-10px">Last name <span class="text-red">*</span></label>
                    <input class="border-radius-4px input-small" type="text" aria-label="text" required>
                </div>
                <div class="col-12 mb-20px">
                    <label class="mb-10px">Company name (optional)</label>
                    <input class="border-radius-4px input-small" type="text" aria-label="text">
                </div>
                <div class="col-12 mb-20px">
                    <label class="mb-10px" for="contry1">Country <span class="text-red">*</span></label>
                    <select name="contry" id="contry1" class="form-select select-small">
                        <option value="">Select a country</option>
                        <option value="Afganistan">Afghanistan</option>
                        <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Zaire">Zaire</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
                <div class="col-12 mb-20px">
                    <label class="mb-10px">Street address <span class="text-red">*</span></label>
                    <input class="border-radius-4px input-small mb-20px" type="text" placeholder="House number and street name">
                    <input class="border-radius-4px input-small" type="text" placeholder="Apartment,suite,unit etc. (optional)">
                </div>
                <div class="col-12 mb-20px">
                    <label class="mb-10px">Town / City <span class="text-red">*</span></label>
                    <input class="border-radius-4px input-small" type="text" required>
                </div>
                <div class="col-12 mb-20px">
                    <label class="mb-10px" for="state1">State <span class="text-red">*</span></label>
                    <select name="state" id="state1" class="form-select select-small border-radius-4px">
                        <option>Select a state</option>
                    </select>
                </div>
                <div class="col-12 mb-20px">
                    <label class="mb-10px">ZIP <span class="text-red">*</span></label>
                    <input class="border-radius-4px input-small" type="text" required>
                </div>
                <div class="col-12 mb-20px">
                    <label class="mb-10px">Phone <span class="text-red">*</span></label>
                    <input class="border-radius-4px input-small" type="text" required>
                </div>
                <div class="col-12 mb-20px">
                    <label class="mb-10px">Email address <span class="text-red">*</span></label>
                    <input class="border-radius-4px input-small" type="email" required>
                </div>
                <!-- start tab content -->
                <div class="col-md-12 mb-5px checkout-accordion">
                    <div class="position-relative terms-condition-box text-start d-flex align-items-center">
                        <label>
                            <input type="checkbox" name="terms_condition" id="terms_condition1" value="1" class="terms-condition check-box align-middle">
                            <span class="box">Create an account?</span>
                            <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion1" href="#collapseThree"></a>
                        </label>
                    </div>
                    <div id="collapseThree" class="collapse">
                        <div class="ps-30px mb-30px mt-15px">
                            <label class="mb-10px">Account username <span class="text-red">*</span></label>
                            <input class="border-radius-4px input-small mb-15px" type="email" required>
                            <label class="mb-10px">Create account password <span class="text-red">*</span></label>
                            <input class="border-radius-4px input-small" type="email" required>
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div class="col-md-12 mb-20px checkout-accordion">
                    <div class="position-relative terms-condition-box text-start d-flex align-items-center">
                        <label>
                            <input type="checkbox" name="terms_condition" id="terms_condition2" value="1" class="terms-condition check-box align-middle">
                            <span class="box">Ship to a different address?</span>
                            <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion1" href="#collapseFour"></a>
                        </label>
                    </div>
                    <div id="collapseFour" class="collapse">
                        <div class="row ps-30px mb-30px mt-15px">
                            <div class="col-md-6 mb-15px">
                                <label class="mb-10px">First name <span class="text-red">*</span></label>
                                <input class="border-radius-4px input-small" type="text" required>
                            </div>
                            <div class="col-md-6 mb-15px">
                                <label class="mb-10px">Last name <span class="text-red">*</span></label>
                                <input class="border-radius-4px input-small" type="text" required>
                            </div>
                            <div class="col-12 mb-15px">
                                <label class="mb-10px">Company name (optional)</label>
                                <input class="border-radius-4px input-small" type="text">
                            </div>
                            <div class="col-12 mb-15px">
                                <label class="mb-10px" for="contry2">Country <span class="text-red">*</span></label>
                                <select name="contry" id="contry2" class="form-select select-small">
                                    <option value="">Select a country</option>
                                    <option value="Christmas Island">Christmas Island</option>
                                    <option value="Zambia">Zambia</option>
                                    <option value="Zimbabwe">Zimbabwe</option>
                                </select>
                            </div>
                            <div class="col-12 mb-15px">
                                <label class="mb-10px">Street address <span class="text-red">*</span></label>
                                <input class="border-radius-4px input-small mb-20px" type="text" placeholder="House number and street name">
                                <input class="border-radius-4px input-small" type="text" placeholder="Apartment,suite,unit etc. (optional)">
                            </div>
                            <div class="col-12 mb-15px">
                                <label class="mb-10px">Town / City <span class="text-red">*</span></label>
                                <input class="border-radius-4px input-small" type="text" required>
                            </div>
                            <div class="col-12 mb-15px">
                                <label class="mb-10px" for="state2">State <span class="text-red">*</span></label>
                                <select name="state" id="state2" class="form-select select-small border-radius-4px">
                                    <option>Select a state</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label class="mb-10px">ZIP <span class="text-red">*</span></label>
                                <input class="border-radius-4px input-small" type="text" required>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
                <div class="col-12">
                    <label class="mb-10px">Order notes (optional)</label>
                    <textarea class="border-radius-4px textarea-small" rows="5" cols="5" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                </div>

                <!-- end tab content -->
                <div class="col-12">
                    <a href="#" class="btn btn-base-color btn-extra-large btn-switch-text btn-round-edge btn-box-shadow w-100 text-transform-none mt-30px">
                        <span>
                            <span class="btn-double-text" data-text="Place order">Place order</span>
                        </span>
                    </a>
                </div>

            </div>
        </form>
    </div>

</div>
